@use "@styles/variables";
@use "@styles/mixins";
@use "include-media" as *;

$scroll-factor: 0.01;

.app-header {
  background-color: variables.$dark-blue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;

  &__title {
    position: fixed;
    font-weight: 800;
    // The font size is set so high because it's scaled by the scroll transform effect
    font-size: 7em;
    color: variables.$white;
    text-transform: uppercase;
    top: 40%;
    white-space: nowrap;

    animation: title-translate 0.8s ease-out;
    transform: translateY(-200px)
      scale(calc(var(--scrollPosition) * $scroll-factor));

    @include media("<=tablet") {
      font-size: 5em;
    }

    @include mixins.text-shadow;
  }
}

@keyframes title-translate {
  0% {
    transform: translateY(100px)
      scale(calc(var(--scrollPosition) * $scroll-factor));
    opacity: 0;
  }
  100% {
    transform: translateY(-200px)
      scale(calc(var(--scrollPosition) * $scroll-factor));
    opacity: 1;
  }
}
