@use "@styles/variables";

.app-header {
  background-color: variables.$dark-blue;
  border-bottom: 1px solid #e5e5e5;
  height: calc(100vh + 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &__title {
    position: fixed;
    font-weight: 800;
    font-size: 5em;
    color: variables.$white;
    text-transform: uppercase;
    animation: title-translate 0.8s ease-out;
    transform: translateY(-200px) scale(calc(var(--scrollPosition) * 0.011));
    top: 50%;
  }
}

@keyframes title-translate {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(-200px);
    opacity: 1;
  }
}
