.app-header-background {
  height: 100%;
  position: absolute;

  &__w1 {
    animation: translate-wave 6s infinite alternate-reverse;
    fill: #b37012;
  }

  &__w2 {
    animation: translate-wave 5s infinite alternate-reverse;
    fill: #c97e16;
  }

  &__w3 {
    animation: translate-wave 4s infinite alternate-reverse;
    fill: #e5921d;
  }

  &__w4 {
    animation: translate-wave 3s infinite alternate-reverse;
    transform: translateY(5px);
    fill: #ffa62b;
  }
}

@keyframes translate-wave {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(100px, 5px);
  }
}
